#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp Q           &kp W               &kp E           &kp R             &kp T             &kp Y        &kp U              &kp I            &kp O                &kp P
&mt LEFT_ALT A  &mt LEFT_CONTROL S  &mt LEFT_GUI D  &mt LEFT_SHIFT F  &kp G             &kp H        &mt RIGHT_SHIFT J  &mt RIGHT_GUI K  &mt RIGHT_CONTROL L  &mt RIGHT_ALT APOS
&kp Z           &kp X               &kp C           &kp V             &kp B             &kp N        &kp M              &kp COMMA        &kp DOT              &kp FSLH
                                                    &kp ESC           &lt 2 KP_ENTER    &lt 1 SPACE  &kp BSPC
            >;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                        &trans  &trans    &trans  &trans
            >;
        };

        layer_3 {
            bindings = <
&none              &kp RS(RC(RG(W)))  &kp RS(RC(RG(E)))  &kp RS(RC(RG(R)))  &kp RS(RC(RG(T)))    &none              &kp LS(LC(LG(U)))  &kp LS(LC(LG(I)))  &none              &kp LS(LC(LG(Q)))
&kp LS(LC(LG(A)))  &kp LS(LC(LG(S)))  &kp LS(LC(LG(D)))  &kp LS(LC(LG(F)))  &kp LS(LC(LG(G)))    &kp LS(LC(LG(H)))  &kp LS(LC(LG(J)))  &kp LS(LC(LG(K)))  &kp LS(LC(LG(L)))  &kp LS(LC(LG(SEMICOLON)))
&kp RS(RC(RG(Z)))  &none              &kp RS(RC(RG(C)))  &kp RS(RC(RG(V)))  &kp RS(RC(RG(B)))    &kp LS(LC(LG(N)))  &kp LS(LC(LG(M)))  &none              &none              &none
                                                         &none              &none                &none              &none
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
